{{>header}}

<p>Use this app to get your weather.</p>
<form>
    <input type="text" name="" placeholder="Enter address">
    <button>Search</button>
</form>

<p id="location"></p>
<p id="forecast"></p>

{{>footer}}